NodeRedFlow
[{"id":"bacddd02.931a3","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f76fca28.248548","type":"mqtt-broker","z":"","name":"MQTT ","broker":"192.168.204.68","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"36f0f139.46f06e","type":"mqtt-broker","z":"","name":"Temp","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4429cb12.1a3e14","type":"mqtt-broker","z":"","name":"Humd","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1c666ef1.14b791","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e4c6b37e.5e095","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#096177","baseFont":"Century Gothic,CenturyGothic,AppleGothic,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#096177","edited":true},"page-titlebar-backgroundColor":{"value":"#096177","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0e9bbe","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#096177","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"Century Gothic,CenturyGothic,AppleGothic,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2796bc46.4d0304","type":"ui_group","z":"","name":"TEMP/HUMD","tab":"1c666ef1.14b791","order":1,"disp":true,"width":"6","collapse":false},{"id":"a503aba5.470c68","type":"mqtt-broker","z":"","name":"PRES","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a9bed171.18bcf","type":"mqtt-broker","z":"","name":"ALTD","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"a4790e7a.8ff34","type":"mqtt-broker","z":"","name":"FLAM","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"501c7b.7e46a384","type":"mqtt-broker","z":"","name":"GAS","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"95ded18d.c6bdc","type":"ui_group","z":"","name":"PRES/ALTD","tab":"1c666ef1.14b791","order":2,"disp":true,"width":"6","collapse":false},{"id":"68db32e4.c08fac","type":"ui_group","z":"","name":"FLAM/GAS","tab":"1c666ef1.14b791","order":3,"disp":true,"width":"6","collapse":false},{"id":"5c042531.c1b87c","type":"mqtt-broker","z":"","name":"ITZAL","broker":"192.168.1.224","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"f262bafc.cd3ee8","type":"mqtt in","z":"bacddd02.931a3","name":"","topic":"ESP32/temp","qos":"2","datatype":"auto","broker":"36f0f139.46f06e","x":90,"y":40,"wires":[["aa4532de.03f1a","79dd7ee0.3d6d7"]]},{"id":"aa4532de.03f1a","type":"debug","z":"bacddd02.931a3","name":"Temp","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":40,"wires":[]},{"id":"43bbcd2d.f5b594","type":"mqtt in","z":"bacddd02.931a3","name":"","topic":"ESP32/humd","qos":"2","datatype":"auto","broker":"4429cb12.1a3e14","x":90,"y":140,"wires":[["889b466b.7b9618","d244842c.f2a188"]]},{"id":"889b466b.7b9618","type":"debug","z":"bacddd02.931a3","name":"Hum","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":140,"wires":[]},{"id":"2b5b80ec.f13eb","type":"ui_gauge","z":"bacddd02.931a3","name":"Humidity","group":"2796bc46.4d0304","order":1,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"grades","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":180,"wires":[]},{"id":"e5a86038.2b416","type":"mqtt in","z":"bacddd02.931a3","name":"","topic":"ESP32/pres","qos":"2","datatype":"auto","broker":"a503aba5.470c68","x":90,"y":240,"wires":[["ffea65c4.dba5e8","78e078b0.20e348"]]},{"id":"52eba7f9.af8608","type":"mqtt in","z":"bacddd02.931a3","name":"","topic":"ESP32/altd","qos":"2","datatype":"auto","broker":"a9bed171.18bcf","x":80,"y":340,"wires":[["cab30296.e447","579107fb.13cb58"]]},{"id":"6389f9aa.3141b8","type":"mqtt in","z":"bacddd02.931a3","name":"","topic":"ESP32/flam","qos":"2","datatype":"auto","broker":"a4790e7a.8ff34","x":90,"y":440,"wires":[["e1bc9ba9.ea1028","d2bcf9fb.c86508"]]},{"id":"7e0e5a9f.5a2a64","type":"mqtt in","z":"bacddd02.931a3","name":"","topic":"ESP32/gas","qos":"2","datatype":"auto","broker":"501c7b.7e46a384","x":80,"y":540,"wires":[["7a1d64a2.abb2dc","a047344b.34ca98"]]},{"id":"ffea65c4.dba5e8","type":"debug","z":"bacddd02.931a3","name":"Pres","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":240,"wires":[]},{"id":"cab30296.e447","type":"debug","z":"bacddd02.931a3","name":"Altd","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":340,"wires":[]},{"id":"e1bc9ba9.ea1028","type":"debug","z":"bacddd02.931a3","name":"Flam","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":440,"wires":[]},{"id":"7a1d64a2.abb2dc","type":"debug","z":"bacddd02.931a3","name":"Gas","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":270,"y":540,"wires":[]},{"id":"79dd7ee0.3d6d7","type":"function","z":"bacddd02.931a3","name":"Func1","func":"msg.payload = msg.payload.substr(5);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":80,"wires":[["d0be259c.d07658"]]},{"id":"d244842c.f2a188","type":"function","z":"bacddd02.931a3","name":"Func2","func":"msg.payload = msg.payload.substr(5);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["2b5b80ec.f13eb"]]},{"id":"78e078b0.20e348","type":"function","z":"bacddd02.931a3","name":"Func3","func":"msg.payload = msg.payload.substr(5);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":280,"wires":[["e8382fb5.c7d7f"]]},{"id":"579107fb.13cb58","type":"function","z":"bacddd02.931a3","name":"Func4","func":"msg.payload = msg.payload.substr(5);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":380,"wires":[["815c13ee.1da75"]]},{"id":"d2bcf9fb.c86508","type":"function","z":"bacddd02.931a3","name":"Func5","func":"msg.payload = msg.payload.substr(5);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":480,"wires":[["4365ae88.16ab7","9fd975ea.7f8128"]]},{"id":"a047344b.34ca98","type":"function","z":"bacddd02.931a3","name":"Func6","func":"msg.payload = msg.payload.substr(5);\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["b165b1b4.fb85c"]]},{"id":"d0be259c.d07658","type":"ui_chart","z":"bacddd02.931a3","name":"Temperature","group":"2796bc46.4d0304","order":1,"width":0,"height":0,"label":"Temperature","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1e00ff","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":470,"y":80,"wires":[[]]},{"id":"e8382fb5.c7d7f","type":"ui_gauge","z":"bacddd02.931a3","name":"Pressure","group":"95ded18d.c6bdc","order":2,"width":0,"height":0,"gtype":"gage","title":"Pressure","label":"units","format":"{{value}}","min":0,"max":"2000","colors":["#ff0505","#37ff00","#fa0000"],"seg1":"","seg2":"","x":460,"y":280,"wires":[]},{"id":"815c13ee.1da75","type":"ui_text","z":"bacddd02.931a3","group":"95ded18d.c6bdc","order":1,"width":"0","height":"0","name":"","label":"Altitude","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":380,"wires":[]},{"id":"b165b1b4.fb85c","type":"ui_gauge","z":"bacddd02.931a3","name":"Gas","group":"68db32e4.c08fac","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas","label":"units","format":"{{value}}","min":0,"max":"3000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":450,"y":580,"wires":[]},{"id":"4365ae88.16ab7","type":"ui_gauge","z":"bacddd02.931a3","name":"Flame","group":"68db32e4.c08fac","order":1,"width":0,"height":0,"gtype":"gage","title":"Flame","label":"units","format":"{{value}}","min":0,"max":"4500","colors":["#ff0000","#00ff04","#2bff00"],"seg1":"100","seg2":"200","x":490,"y":480,"wires":[]},{"id":"4fd633a0.85ba5c","type":"mqtt out","z":"bacddd02.931a3","name":"ArgiaItzali","topic":"ESP32/Itzali","qos":"2","retain":"","broker":"5c042531.c1b87c","x":800,"y":520,"wires":[]},{"id":"900bb9c1.05ab98","type":"inject","z":"bacddd02.931a3","name":"Itzali","topic":"ESP32/Itzali","payload":"Argiaitzali","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":520,"wires":[["4fd633a0.85ba5c"]]},{"id":"d0d81909.bd7c08","type":"ui_button","z":"bacddd02.931a3","name":"","group":"95ded18d.c6bdc","order":3,"width":0,"height":0,"passthru":false,"label":"Berrikusita","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":630,"y":460,"wires":[["4fd633a0.85ba5c"]]},{"id":"c058746b.761178","type":"change","z":"bacddd02.931a3","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"Fire","fromt":"str","to":"Fire warning","tot":"str"},{"t":"change","p":"payload","pt":"msg","from":"Nofire","fromt":"str","to":"Everything is in order","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":400,"wires":[["4ce91441.51b96c"]]},{"id":"4ce91441.51b96c","type":"ui_text","z":"bacddd02.931a3","group":"95ded18d.c6bdc","order":2,"width":"6","height":"2","name":"","label":"FLAME STATUS","format":"{{msg.payload}}","layout":"col-center","x":870,"y":460,"wires":[]},{"id":"9fd975ea.7f8128","type":"function","z":"bacddd02.931a3","name":"Func7","func":"if (msg.payload <=100) {\n   msg.payload = \"Fire\"\n}\nif (msg.payload > 100) {\n   msg.payload = \"Nofire\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":400,"wires":[["c058746b.761178"]]}]
